#title {
  background-color: #c59143;
  color: rgb(0, 0, 0);
  min-height: 3rem;
  display: flex;
  line-height: 20;
  font-size: 150%;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  margin-left: 15px;
}
#invite {
  margin-left: 15px;
  font-size: 200%;
}
#link {
  margin-right: 10px;
  margin-left: 10px;
  font-size: large;
}
