#title {
  background-color: #c59143;
  color: rgb(0, 0, 0);
  min-height: 3rem;
  display: flex;
  line-height: 20;
  font-size: 150%;
  font-weight: 300;
}
body {
  background-color: #fff6e4;
}
html,
body {
  margin: 0px;
  padding: 0px;
}
h1 {
  margin-left: 15px;
}
#invite {
  margin-left: 15px;
  font-size: 200%;
}
#link {
  margin-right: 10px;
  margin-left: 10px;
  font-size: large;
}
#main-box {
  border: 3px solid transparent;
  margin-top: 100px;
  margin-left: 600px;
  margin-right: 600px;
  height: 500px;
  width: 700px;
  background-color: #c59143;
  border-radius: 30px;
}
#multiplayer {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  width: 600px;
  height: 85px;
  background-color: #ffe1b6;
  border: 1px solid transparent;
  border-radius: 30px;
  font-weight: 700;
  font-size: 300%;
  color: rgb(63, 63, 63);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: normal;
  transition: all 0.8s ease 0s;
}
#computer {
  margin: 0 auto;
  display: block;
  margin-top: 30px;
  width: 600px;
  height: 85px;
  background-color: #ffe1b6;
  border: 1px solid transparent;
  border-radius: 30px;
  font-weight: 700;
  font-size: 300%;
  color: rgb(63, 63, 63);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: normal;
  transition: all 0.8s ease 0s;
}
#computer:hover,
#multiplayer:hover {
  background-color: #fab54e;
}
#text2-mp {
  font-size: 1.35rem;
}
#text2-pc {
  font-size: 1.35rem;
}
#home-link {
  position: absolute;
  top: -23%;
  right: 83%;
  all: initial;
  width: 100px;
  font-size: 1.35rem;
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding-top: 15px;
  padding-left: 20px;
  font-weight: 300;
}
#title-link {
  text-decoration: none;
  color: black;
  border: 2px solid transparent;
  padding-right: 20px;
  padding-top: 5px;
}
#home {
  font-weight: 550;
}
#home-link:hover,
#title-link:hover {
  background-color: #c2a271;
}
#home {
  font-weight: 540;
}
