h1,
p {
  font-family: Lato;
}
#myBoard {
  position: absolute;
  top: 8%;
  right: 35%;
}
#waiting {
  position: absolute;
  top: 7%;
  right: 6%;
}
#waiting2 {
  position: absolute;
  top: 7%;
  right: 2%;
}
#history {
  position: absolute;
  right: 12%;
  top: 1%;
}
#istoric {
  position: absolute;
  right: 28%;
  top: 13%;
}
